@import '../variabels';

.note {
	background-color: $note-color;
	border: 1px solid $note-border-color;
	width: 400px;
	height: 200px;
	border-radius: 20px;
	box-shadow: 3px 3px 3px $shadow-color;
	text-align: center;

	margin: {
		right: 15px;
		bottom: 15px;
	}

	nav {
		width: 100%;
		justify-content: right;

		padding: {
			top: 5px;
			right: 7px;
		}

		button {
			@include button;

			margin: 3px;
		}
	}

	h1,
	p {
		color: $text-color;
	}
}